﻿@model CSTM.Models.Ticket

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

@if (Model.Status != "Closed")
{
    <h3>Are you sure you want to delete this ticket?</h3>
} else
{
    <h3>This ticket is closed and cannot be deleted</h3>
}
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Submitted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Submitted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    @if (Model.Status != "Closed")
    {
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    }
    else
    {
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
</div>
