﻿@model CSTM.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Submitted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Submitted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @(Model.Status == "Closed" ? Html.DisplayNameFor(model => model.CloseDate) : null)
        </dt>
        <dd>
            @(Model.Status == "Closed" ? Html.DisplayFor(model => model.CloseDate) : null)
        </dd>
    </dl>
</div>

@if (Model.Status != "Closed")
{
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Close" asp-route-id="@Model.Id">Close</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
}
else
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
